<!DOCTYPE html>
<html lang="en">

<head>
    <title>SPACE</title>
    <meta charset="UTF-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">

    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">

    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/bootstrap.js"></script>
    
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-ui-router.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/layout/header.controller.js"></script>
    <script src="js/app/layout/welcome.controller.js"></script>
    <script src="js/app/landing.controller.js"></script>
    <script src="js/app/cart/cart.controller.js"></script>
    <script src="js/app/cart/cart.service.js"></script>
    
    <!--<script src="js/lib/impress.js"></script>-->
    <script>
        var cartSlide = {};
        cartSlide.slides = [2];
    </script>
</head>

<body data-ng-app="ISIPApp" id="bodyISIPApp">
    <header data-ng-controller="headerController as hc">
        <div class="top-line"></div>
        <div class="top-bar">
            <div style="float: left;padding: 10px 0px 0 20px;height:100%">
                <a style="height: 100%;width: 100%;" ui-sref="welcome">
                    <img src="images/Space.png" alt="LOGO" style="width: 100%;"/>
                </a>
            </div>
            <div class="col-lg-1 pull-right top_padding">
                <a ui-sref="cart">
                    <div class="cart_icon" ng-mouseover="showPopover=true;" ng-click="showPopover=false;"> <i class="fa fa-shopping-cart" style="zoom:2;"></i></div>
                    <div class="ycircle" ng-mouseover="showPopover=true;" ng-click="showPopover=false;">{{hc.getCartItem().length}}</div>
                </a>
                <div class="cart-popover" cart-popover ng-show="showPopover"></div>
            </div>
            <div class="col-lg-2 pull-right top_padding">
                <i class="fa fa-user" style="zoom:2;margin: -1px 3px 0 0; vertical-align: middle;"></i>
                <span class="login">Login / Register</span>
            </div>
            <div class="col-lg-2 pull-right top_padding form-inline">
                <div class="form-group">
                    <label for="userLanguage"><i class="glyphicon glyphicon-globe user-lang"></i></label>
                    <select id="userLanguage" data-ng-model="hc.preferredLanguage" data-ng-change="hc.onPreferredLanguage()" class="form-control">
                        <option value="en_IN">English (India)</option>
                        <option value="es_ES">Spanish (Spain)</option>
                        <option value="ru_RU">Russian (Russia)</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="navbar-wrapper">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li data-ng-repeat="navTab in hc.navTabs" data-ng-class="{'active':navTab.id==hc.currentTab}" data-ng-click="hc.currentTab=navTab.id;hc.loadChildNav(navTab.child)">
                                <a ng-if="!navTab.child" ui-sref="landing({navTabId:navTab.id,lang:hc.preferredLanguage})">{{navTab.name}}</a>
                                <a ng-if="navTab.child">{{navTab.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container" ng-if="hc.showSubMenu == true">
            <div class="close" ng-click="hc.hideSubMenu()" style="opacity: 0.6;"> x </div>
            <ul class="col-md-12 list-inline">
                <li class="nav-child" style="padding-top:10px;" data-ng-repeat="child in hc.navChildTabs">
                    <a ui-sref="landing({navTabId:child.id,lang:hc.preferredLanguage})">
                        <img id="{{'child'+$index}}" ng-src="{{child.image}}" alt="child.name" />
                        <h4 class="text-center" for="{{'child'+$index}}">{{child.name}}</h4>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div ui-view="" style="min-width:400px;"></div>
    <footer></footer>
</body>

</html>