<div class="container-fluid">
    <div class="row placeholders text-center">
        <div class="container">
            <div class="col-lg-9">
                <div class="spacer"></div>
                <h1 class="page-header text-left" style="margin-top:0;">Products in your wishlist
                    <button data-ng-if="cartCtrl.productsList.length" type="button" class="btn btn-danger" style="float:right;" data-ng-click="cartCtrl.deleteAllCartItem()">
                        Remove All
                    </button>
                </h1>
                <div class=" text-left" style="font-size: 34px;" data-ng-if="!cartCtrl.productsList.length">
                    <span>Cart is empty.</span>
                </div>
                <div class="cart-row" data-ng-if="cartCtrl.productsList.length">
                    <div class="cart-header">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-4">Name</div>
                        <div class="col-sm-3">Specs</div>
                        <div class="col-sm-2">&nbsp;</div>
                    </div>
                    <div class="cart-body" data-ng-repeat="product in cartCtrl.productsList">
                        <div class="col-sm-3">
                             <img ng-src="{{product.imagesPrimaryShot[0]}}" class="cartimg">
                        </div>
                        <div class="col-sm-4">
                            <label>{{(product.superModelName != undefined || product.superModelName != null)?product.superModelName:product.modelName}}</label>    
                        </div>
                        <div class="col-sm-3">
                            <ul class="evenHeights product-meta" data-identifier="topFeatures">
                                <li class="p4" data-ng-repeat="topFeature in product.topFeatures">
                                    <span class="cart-specs">{{topFeature}}</span>
                                </li>
                            </ul>

                        </div>
                        <div class="col-sm-2 pull-right">
                            <button type="button" class="btn btn-danger" data-ng-click="cartCtrl.deleteCartItem($index, product)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="cart-total">
                    <div class="cart-info"> Preview Presentation </div>
                    <div class="cart-text"> Total Products: {{cartCtrl.productsList.length}}</div>
                    <div class="cart-text"> </div>
                    <div class="cart-info"> Recommended template</div>
                    <button data-ng-click="cartCtrl.autoTemplate()" class="cart-checkout  btn btn-success cart-preview">Preview</button>
                    <div class="cart-info"> Choose your own template</div>
                    <div><button ui-sref="preview1" class="cart-checkout  btn btn-primary cart-preview">Detailed</button></div>
                    <div><button ui-sref="preview2" class="cart-checkout  btn btn-primary cart-preview">Summary</button></div>
                    <div><button data-ng-click="cartCtrl.comparison()" class="cart-checkout  btn btn-primary cart-preview">Comparison</button></div>
                </div>
            </div>
        </div>

    </div>