<div class="mini-cart-product">
     <div class="close" style="margin-right: 5px;" ng-click="showPopover=false;">x</div>
    <div class=" text-center" style="font-size: 24px;" data-ng-if="!hc.getCartItem().length">
        <span>Cart is empty.</span>
    </div>

<div class="minicart-row" data-ng-if="hc.getCartItem().length" data-ng-repeat="product in hc.getCartItem()">

    <div class="cart-item"> <img ng-src="{{product.images.primaryShot[0].imageFamily.images.desktop.externalUrl}}" class="cartimg"></div>
    <div class="cart-item"> {{(product.superModelName != undefined || product.superModelName != null)?product.superModelName:product.modelName}} </div>
    <div class="cart-item cart-checkout"> Preview </div>
</div>
</div>
